.center {
  text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
th,td{
  text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  top: 100%;
  left: 0;
}
h1 {
  color: #3498DB;
  text-align: center;
}

label
{
  text-align: left;
}

select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f1f1f1;
}

option {
  font-size: 16px;
  background-color: white;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  max-width: 60%;
  margin: 50px auto;
  border-radius: 10px;
}
.overlay2 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 30%;
  max-width: 300px;
  margin: 50px auto;
  border-radius: 10px;
}

.overlay select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.overlay input[type="button"] {
  display: block;
  margin: 0 auto;
}

.overlay-head {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
}
